<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="encodingMatcherPluginBuilder"
         name="Encoding Matcher PlugIn Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="com.pweege.plugins.encoding.matcher.builder.EncodingMatcherPluginBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="encodingMatcherPlugInNature"
         name="Encoding Matcher PlugIn Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.pweege.plugins.encoding.matcher.builder.EncodingMatcherPlugInNature">
         </run>
      </runtime>
      <builder
            id="EncodingMatcherPlugIn.encodingMatcherPluginBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Encoding Matcher PlugIn Nature commands"
            id="EncodingMatcherPlugIn.encodingMatcherPlugInNature.category">
      </category>
      <command
            name="Add/RemoveEncoding Matcher PlugIn Nature"
            defaultHandler="com.pweege.plugins.encoding.matcher.builder.AddRemoveEncodingMatcherPlugInNatureHandler"
            categoryId="EncodingMatcherPlugIn.encodingMatcherPlugInNature.category"
            id="EncodingMatcherPlugIn.addRemoveEncodingMatcherPlugInNature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="EncodingMatcherPlugIn.addRemoveEncodingMatcherPlugInNature"
               label="Disable Encoding Matcher builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              value="EncodingMatcherPlugIn.encodingMatcherPlugInNature"
                              property="org.eclipse.core.resources.projectNature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="EncodingMatcherPlugIn.addRemoveEncodingMatcherPlugInNature"
               label="Enable Encoding Matcher builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <not>
                           <test
                                 value="EncodingMatcherPlugIn.encodingMatcherPlugInNature"
                                 property="org.eclipse.core.resources.projectNature">
                           </test>
                        </not>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   
   <extension
         id="EncodingMatcherPlugIn.encodingProblem"
         name="EncodingMatcherPlugIn - Encoding Problem"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <persistent value="false"/>
   </extension>
   
   	<extension
		point = "org.eclipse.ui.preferencePages">
       	<page id="com.pweege.plugins.encoding.matcher.preferences.EncodingMatcherPlugInPreferencePage"
	    class="com.pweege.plugins.encoding.matcher.preferences.EncodingMatcherPlugInPreferencePage"
            name="Encoding Matcher Matcher">
       </page>
   </extension>
   
  
</plugin>
